/* LanaDev Grid Framework;
/* Version: 0.2.2;

/*-- ROW & COLUMNS #############################################*/
div {
	box-sizing: border-box;
}
.row {
	box-sizing: border-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
}

.col-12 {width: 100%;}
.col-11 {width: 91.6663%;}
.col-10 {width: 83.3330%;}
.col-9 {width: 74.9997%;}
.col-8 {width: 66.6664%;}
.col-7 {width: 58.3331%;}
.col-6 {width: 49.9998%;}
.col-5 {width: 41.6665%;}
.col-4 {width: 33.3332%;}
.col-3 {width: 24.9999%;}
.col-2 {width: 16.6666%;}
.col-1 {width: 8.3333%;}

@media screen and (max-width: 560px) {
	.col-xs-12 {width: 100%;}
}

/*-- END ROW & COLUMNS ########################################*/