.my-cart .order-form .billing-info #cc:checked ~ .radio_green.op:before,
.my-cart .order-form .billing-info #cod:checked ~ .radio_green.od:before {
    background-position: center bottom; }

.my-cart .order-form #company:checked ~ .radio_green.op:before {
    background-position: center bottom; }

.product-detail .col-center .price-holder .notavail {
    color: red;
    display: inline-block;
    margin-top: 5px; }
.product-detail .col-center .price-holder .notavail:before {
    content: ' ';
    height: 7px;
    width: 7px;
    background-color: red;
    display: inline-block;
    border-radius: 50%;
    margin: 4px 3px 1px 0; }