/* 1160px */
@media screen and (max-width: 1140px) {
  section > .row {
    padding: 0 5px; }
  .hiw > .row.flx-justify {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .catalog-aside,
  .catalog.col-9 {
    padding: 0 10px; }
  .content-box.gallery {
    padding: 0 10px; }
  .my-cart #step-two > .row.flx-justify {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .my-cart #step-two .order-detail {
    margin-bottom: 2em;
    margin-left: 2em; }
  .main-footer .footer-top,
  .main-footer .footer-bottom {
    padding-left: 5px;
    padding-right: 5px; } }

@media screen and (max-width: 1060px) {
  .timer > .row.flx-justify {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .timer .container.text-white {
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
    text-align: center; }
  #gallery-carusel > .row.flx-justify {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .feedback > .row.flx-justify {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; } }

@media screen and (max-width: 1040px) {
  .sidebar-toggle {
    display: block; }
  .catalog-aside {
    width: 0;
    min-width: initial;
    opacity: 0;
    position: absolute;
    left: 0px;
    top: 286px;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.85); }
    .catalog-aside .product-filter, .catalog-aside .cart-box, .catalog-aside h2 {
      display: none; }
  .catalog.col-9 {
    width: 100%;
    max-width: 875px; }
    .catalog.col-9 .product-line ul {
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
  .product-detail .main {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: auto; }
    .product-detail .main .col-center {
      width: calc(100% - 400px); }
    .product-detail .main .col-right {
      width: 100%;
      height: auto;
      margin: 2em 0 0; }
      .product-detail .main .col-right .gray-wall {
        height: auto; } }

@media screen and (max-width: 960px) {
  .header-mainbox .content-box .nav-holder .nav-toggle {
    display: block; }
  .header-mainbox .content-box .nav-holder {
    -webkit-order: 5;
    -ms-flex-order: 5;
    order: 5; }
  .top-nav {
    display: none; }
    .top-nav ul {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      position: absolute;
      background-color: #FFF;
      z-index: 50; }
  .header-mainbox .content-box .logo-holder {
    margin: 0 2em; } }

@media screen and (max-width: 800px) {
  .contact-form form.row.flx-justify {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; } }

@media screen and (max-width: 769px) {
  h1 {
    font-size: 36px; }
  .main-footer .footer-bottom .row.content-box .col-4:first-child {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    text-align: right; }
  .main-footer .footer-bottom .row.content-box .col-4:last-child {
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
    text-align: center;
    width: 100%; }
    .main-footer .footer-bottom .row.content-box .col-4:last-child p {
      display: none; }
    .main-footer .footer-bottom .row.content-box .col-4:last-child p:first-child {
      display: inline-block; }
  .call-to-action-2 {
    padding-bottom: 6em;

  }
    .call-to-action-2 .btn {
      bottom: 0px;
      width: 100%;
      left: 0;
    }
  .catalog.col-9 .slider-holder {
    display: none; } }

@media screen and (max-width: 700px) {
  .call-to-action-1 {
    padding-top: 0; }
  .call-to-action-1 > .row {
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center; }
    .call-to-action-1 > .row .col-6 {
      width: 100%;
      text-align: center; }
  .hiw > .row.flx-justify {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center; }
  .hiw .container.col-3 {
    width: 90%; }
  .row.flx-justify.flx-nowrap.dropdown {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .my-office .my-puppies .new-puppy .gender-select {
    width: 220px; }
  .my-cart .step-counter .step-one:after {
    display: none; }
  .my-cart .step-counter .step-one,
  .my-cart .step-counter .step-two {
    width: 100%;
    text-align: center; }
  .product-detail .main {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .product-detail .main .col-left {
      margin-bottom: 2em; }
    .product-detail .main .col-center {
      width: 100%;
      margin: 0; } }

@media screen and (max-width: 600px) {
  .timer > .row.flx-justify {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .timer .counter-holder {
    margin: 20px 0 30px; }
  .contact-form {
    margin-top: 0; }
    .contact-form .col-xs-12 {
      width: 100%; }
    .contact-form img {
      display: none; }
  .cart-box.cart-page .cart-item {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .cart-box.cart-page .cart-item div:first-child {
    margin-bottom: 20px; }
  .cart-box.cart-page .cart-item form {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .my-office .delivery-inf .col-4,
  .my-office .delivery-inf .col-6,
  .my-office .delivery-inf .col-12 {
    width: 100%; }
  .my-office .my-puppies .col-6 {
    width: 100%; }
  .my-office .invite-form input[type="text"] {
    width: auto; }
  .my-cart .order-form .billing-info .col-6 {
    padding: 0; }
  .my-cart .order-form .billing-info .col-6 + .col-6 {
    padding: 0; } }

@media screen and (max-width: 560px) {
  .header-mainbox .content-box {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .header-mainbox .content-box .right-box {
    margin-right: 2em; }
  .header-mainbox .content-box .nav-holder .nav-toggle {
    margin-top: 0.5em; } }

@media screen and (max-width: 520px) {
  .header-mainbox .content-box .right-box {
    min-width: 125px;
    margin-right: 0; }
    .header-mainbox .content-box .right-box .cart-holder {
      display: none; }
  .neki-neked_container .neked {
    top: 360px;
    display: block;
     }
  .neki-neked_container .neki {
    top: 35px;
    display: block;
     }
  .specials-cats {
    padding-left: 0px;
  }
}

@media screen and (max-width: 490px) {
  .main-footer .footer-bottom .row.content-box .col-4:first-child {
    text-align: center; }
  #step-one, #step-two {
    padding: 0 10px;
    box-sizing: border-box; }
  .footer-bottom .row.flx-around.content-box {
    flex-direction: column;
    align-items: center; }
}

@media screen and (max-width: 460px) {
  .header-mainbox .content-box .nav-holder {
    -webkit-order: initial;
    -ms-flex-order: initial;
    order: initial; }
  .header-mainbox .content-box .right-box {
    width: 100%;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 0; }
  .header-mainbox .content-box .right-box .social-holder.col-8 {
    width: 100%; }
    .header-mainbox .content-box .right-box .social-holder.col-8 .row {
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
  .registration-form {
    width: 100%; }
  .social-line-holder {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; } }

@media screen and (max-width: 420px) {
  .header-mainbox .content-box .right-box {
    width: initial; }
  .header-mainbox .content-box .logo-holder {
    text-align: center;
    width: 100%; }
    .header-mainbox .content-box .logo-holder img {
      width: 100%; } }
